@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

.announcement{
  position: relative;
  background-color:#4fa6ec;
  color: #ffffff;
  z-index: 1;
  padding-top: 2px;
  padding-bottom: 2px;
}
  
.announcement__title {
    font-size: 30px;
    line-height: 42px;
}

.volunteer-section{
    width: 500px;
    height: auto;
    border: 10px solid green;
    padding: 20px 30px 20px 30px;
    margin: auto;
    margin-top: 20px;
}

.heading{
    font-size: 24px;
}

.volunteer-detail{
    text-align: left;
}

.log-out{
    background-color: red;
    width: auto;
    text-align: center;
    height: auto;
    width: auto;
    background-color: rgb(169,209,142);
    border: 5px solid rgb(112,173,71);
    color: rgb(84,130,53);
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.6em;
    margin: auto;
    cursor: pointer;
    
}

.content {
    position: relative;
    top: -327px;
    transition: .2s;
  }
  
.open {
top: 0;
}

.wrapper {
max-width: 1160px;
padding: 40px 20px;
margin: 0 auto;
}

.masonry {
padding: 0;
-moz-column-gap: 20px;
-webkit-column-gap: 20px;
column-gap: 20px;
font-size: 14px;
}

.item {
display: inline-block;
background: #fff;
padding: 14px 20px;
margin: 0 0 1.5em;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

p {
    margin: 0 0 8px;
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 8px 0;
    
}

a {
    color: #1B9DEE;
    text-decoration: none;
    transition: .125s;

}


  